html {overflow-y: scroll}
body{max-width:800px;padding:0 10px;font:14px/1.5 sans-serif;color:#444;}
h1,h2,h3{line-height:1.2}
a:visited{color:#00D}
a.active{color:#444}
header a:link, header a:active, header a:visited, header a,
footer a:link, footer a:active, footer a:visited, footer a {
    text-decoration: none;
    color: #444;
}
header nav a {
    padding-left: 20px;
}

/*@media (prefers-color-scheme: dark){body{color:white;background:#444}a:link{color:#5bf}a:visited{color:#5bf}a.active{color:#fff}}*/

code{color: #FFFFFF; background:#000000; padding:2px}
pre{color: #FFFFFF; background:#000000; padding:24px; white-space: pre-wrap}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
.left {display: block;float: left}
.right {display: block;float: right}
.clear {clear: both;}
li small {font-size: 0.82em;vertical-align: top;}
main article h1.single{margin-bottom: 0;}
main article p.single{margin-top: 0;}

html, body {
    height: 100%;
    margin: 0 auto;
}
.wrap {padding-top: 20px; min-height: calc(100% - 20px);}
main{padding-bottom: 51px}
footer{height:35px;margin-top:-51px}